<!DOCTYPE html>
<html>
<head>
<!-- Title -->
	<title>Konexio Interact</title>
<!-- Link to styles.css -->
	<link rel="stylesheet" type="text/css" href="styles.css">
<!-- 	Icon -->
	<link rel="icon" type="image.png" href="images/k.png">
<!-- 	Font awesome -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--     Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
<!-- Bootstrap  -->
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<!-- 	header -->
	<header>
	<!-- Add link -->
		<a href="http://konexio.eu/"><img src="./images/konexio_logo.png" id="konexio-logo"></a> 
		<div id="login-section" class="text">
			<p>Already a member? <span id="login-button">Login</span></p>
		</div>
	</header>
<!-- Main image section -->
	<div>
		<img src="./images/main_page_image.png" id="main-image">
	</div>
	<div id="overlay">
		<p id="inspirational-text" class="text">Welcome to Konexio Interact</p>
		<p id="quote" class="text"><i>"The expert in anything was once a beginner."</i></p>
		<div id="arrow" class="arrow-alternate fa fa-4x"> &#xf103; </div>
	</div>
<!-- Botton Section -->
	<div id="bottom-section">
		<div class="bottom" >
	        <p class="text titles">Seeking Mentor</p>
			<div class="signupbutton">
				<p class="text">Get a Mentor</p>
			</div>
      	</div>
		<div class="bottom">
      		<p class="text titles">Become a Mentor </p>
			<div class="signupbutton">
				<p class="text">Be a Mentor</p>
			</div>
        </div>
	</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- 	<footer>
      <a href="http://konexio.eu/" class="text">Back to Konexio Homepage</a>
    </footer> -->
</body>
</html>
