<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Form</title>
  </head>
  <body>
    <h1>Form</h1>
    <form action="/form/new" method="post">
      <label for="userName">Name: </label>
      <input id="userName" type="text" name="name">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
