<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Form</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/form/new" method="post">

      <!-- PART 1 -->

      <!-- First name -->
      <label for="userFirstName">First Name: </label>
      <input id="userFirstName" type="text" name="firstName"><br>

      <!-- First name -->
      <label for="userLastName">LastName: </label>
      <input id="userLastName" type="text" name="lastName"><br>

      <!-- Email Address -->
      <label for="userEmail">Email Address: </label>
      <input id="userEmail" type="text" name="email"><br>

      <!-- PART 2 -->

      <!-- Country of Origin -->
      <label for="countryOrigin">Country of Origin </label><br>
       <select id="countryOrigin" type="text" name="countryOrigin">
         <option>Select Country</option>
         <option>Afghanistan</option>
         <option>Albania</option>
         <option>Algeria</option>
         <option>Andorra</option>
         <option>Angola</option>
         <option>Anguilla</option>
         <option>Antigua & Barbuda</option>
         <option>Argentina</option>
         <option>Armenia</option>
         <option>Australia</option>
         <option>Austria</option>
         <option>Azerbaijan</option>
         <option>Bahamas</option>
         <option>Bangladesh</option>
         <option>Barbados</option>
         <option>Belarus</option>
         <option>Belgium</option>
         <option>Belize</option>
         <option>Benin</option>
         <option>Bermuda</option>
         <option>Bhutan</option>
         <option>Bolivia</option>
         <option>Bosnia & Herzegovina</option>
         <option>Botswana</option>
         <option>Brazil</option>
         <option>Brunei Darussalam</option>
         <option>Bulgaria</option>
         <option>Burkina Faso</option>
         <option>Myanmar/Burma</option>
         <option>Burundi</option>
         <option>Cambodia</option>
         <option>Cameroon</option>
         <option>Canada</option>
         <option>Cape Verde</option>
         <option>Cayman Islands</option>
         <option>Central African Republic</option>
         <option>Chad</option>
         <option>Chile</option>
         <option>China</option>
         <option>Colombia</option>
         <option>Comoros</option>
         <option>Congo</option>
         <option>Costa Rica</option>
         <option>Croatia</option>
         <option>Cuba</option>
         <option>Cyprus</option>
         <option>Czech Republic</option>
         <option>Democratic Republic of the Congo</option>
         <option>Denmark</option>
         <option>Djibouti</option>
         <option>Dominican Republic</option>
         <option>Dominica</option>
         <option>Ecuador</option>
         <option>Egypt</option>
         <option>El Salvador</option>
         <option>Equatorial Guinea</option>
         <option>Eritrea</option>
         <option>Estonia</option>
         <option>Ethiopia</option>
         <option>Fiji</option>
         <option>Finland</option>
         <option>France</option>
         <option>French Guiana</option>
         <option>Gabon</option>
         <option>Gambia</option>
         <option>Georgia</option>
         <option>Germany</option>
         <option>Ghana</option>
         <option>Great Britain</option>
         <option>Greece</option>
         <option>Grenada</option>
         <option>Guadeloupe</option>
         <option>Guatemala</option>
         <option>Guinea</option>
         <option>Guinea-Bissau</option>
         <option>Guyana</option>
         <option>Haiti</option>
         <option>Honduras</option>
         <option>Hungary</option>
         <option>Iceland</option>
         <option>India</option>
         <option>Indonesia</option>
         <option>Iran</option>
         <option>Iraq</option>
         <option>Israel and the Occupied Territories</option>
         <option>Italy</option>
         <option>Ivory Coast (Cote d'Ivoire)</option>
         <option>Jamaica</option>
         <option>Japan</option>
         <option>Jordan</option>
         <option>Kazakhstan</option>
         <option>Kenya</option>
         <option>Kosovo</option>
         <option>Kuwait</option>
         <option>Kyrgyz Republic (Kyrgyzstan)</option>
         <option>Laos</option>
         <option>Latvia</option>
         <option>Lebanon</option>
         <option>Lesotho</option>
         <option>Liberia</option>
         <option>Libya</option>
         <option>Liechtenstein</option>
         <option>Lithuania</option>
         <option>Luxembourg</option>
         <option>Republic of Macedonia</option>
         <option>Madagascar</option>
         <option>Malawi</option>
         <option>Malaysia</option>
         <option>Maldives</option>
         <option>Mali</option>
         <option>Malta</option>
         <option>Martinique</option>
         <option>Mauritania</option>
         <option>Mauritius</option>
         <option>Mayotte</option>
         <option>Mexico</option>
         <option>Moldova, Republic of</option>
         <option>Monaco</option>
         <option>Mongolia</option>
         <option>Montenegro</option>
         <option>Montserrat</option>
         <option>Morocco</option>
         <option>Mozambique</option>
         <option>Namibia</option>
         <option>Nepal</option>
         <option>Netherlands</option>
         <option>New Zealand</option>
         <option>Nicaragua</option>
         <option>Niger</option>
         <option>Nigeria</option>
         <option>Korea, Democratic Republic of (North Korea)</option>
         <option>Norway</option>
         <option>Oman</option>
         <option>Pacific Islands</option>
         <option>Pakistan</option>
         <option>Panama</option>
         <option>Papua New Guinea</option>
         <option>Paraguay</option>
         <option>Peru</option>
         <option>Philippines</option>
         <option>Poland</option>
         <option>Portugal</option>
         <option>Puerto Rico</option>
         <option>Qatar</option>
         <option>Reunion</option>
         <option>Romania</option>
         <option>Russian Federation</option>
         <option>Rwanda</option>
         <option>Saint Kitts and Nevis</option>
         <option>Saint Lucia</option>
         <option>Saint Vincent's & Grenadines</option>
         <option>Samoa</option>
         <option>Sao Tome and Principe</option>
         <option>Saudi Arabia</option>
         <option>Senegal</option>
         <option>Serbia</option>
         <option>Seychelles</option>
         <option>Sierra Leone</option>
         <option>Singapore</option>
         <option>Slovak Republic (Slovakia)</option>
         <option>Slovenia</option>
         <option>Solomon Islands</option>
         <option>Somalia</option>
         <option>South Africa</option>
         <option>Korea, Republic of (South Korea)</option>
         <option>South Sudan</option>
         <option>Spain</option>
         <option>Sri Lanka</option>
         <option>Sudan</option>
         <option>Suriname</option>
         <option>Swaziland</option>
         <option>Sweden</option>
         <option>Switzerland</option>
         <option>Syria</option>
         <option>Tajikistan</option>
         <option>Tanzania</option>
         <option>Thailand</option>
         <option>Timor Leste</option>
         <option>Togo</option>
         <option>Trinidad & Tobago</option>
         <option>Tunisia</option>
         <option>Turkey</option>
         <option>Turkmenistan</option>
         <option>Turks & Caicos Islands</option>
         <option>Uganda</option>
         <option>Ukraine</option>
         <option>United Arab Emirates</option>
         <option>United States of America (USA)</option>
         <option>Uruguay</option>
         <option>Uzbekistan</option>
         <option>Venezuela</option>
         <option>Vietnam</option>
         <option>Virgin Islands (UK)</option>
         <option>Virgin Islands (US)</option>
         <option>Yemen</option>
         <option>Zambia</option>
         <option>Zimbabwe</option>
       </select><br>

       <!-- Asylum Status-->
           <label for="asylumStatus">Asylum Status</label><br>
           <input class= "asylumq" type="radio" name="asylumq" value="Seeker"> Asylum Seeker<br>
           <input class= "asylumq" type="radio" name="asylumq" value="Refugee"> Refugee<br>

           <!-- Age -->
           <label for="userAge">Age</label><br>
           <input id="userAge" type="text" name="age"><br>

           <!-- Gender -->
           <label for="gender">Gender</label><br>
            <select id="gender" name="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
              <option>Prefer not to answer</option>
            </select><br>

           <!-- Phone Number -->
           <label for="userPhone">Phone Number</label><br>
           <input id="userPhone" type="text" name="phoneNum"><br>

           <!-- Languages Spoken -->
           <label for="userLang">Languages(s) Spoken: </label><br>
           <input id="userLang" type="text" name="languages"><br>

           <!-- Konexio Course Info -->
           <label for="userCourse">Konexio Course Enrolled in: </label><br>
           <input id="userCourse" type="text" name="course"><br>

      <!-- PART 3 -->
      <!-- currentOccupation -->
    <label for="currentOccupation">Are you currently working or studying? </label><br>
    <input class="currentOccupation" type="radio" name="currentOccupation" value="working"> Working?<br>
    <input class="currentOccupation" type="radio" name="currentOccupation" value="studying"> Studying?<br>

    <!-- CareerGoals -->
    <label for="careerGoals">Career goals or other interests: </label><br>
    <textarea id="careerGoals" rows="4" cols="50" name="careerGoals"></textarea><br>

    <!-- educationLevel -->
    <label for="educationLevel">What is your highest educational qualification? Proffesional?</label><br>
    <textarea id="educationLevel" rows="4" cols="50" name="educationLevel"></textarea> <br>

    <!-- hobbies -->
    <label for="hobbies">Your hobbies:</label><br>
    <textarea id="hobbies" rows="4" cols="50" name="hobbies"></textarea><br>

    <!-- wordDescribers -->
    <label for="wordDescribers">Three words that describe you:</label><br>
    <textarea id="wordDescribers" rows="4" cols="50" name="wordDescribers"></textarea><br>

      <!-- PART 4 -->
      <label for="skillq1">Do you feel comfortable using a computer on your own?</label><br>
      <input class="skillq1" type="radio" name="skillq1" value="yes">Yes<br>
      <input class="skillq1" type="radio" name="skillq1" value="no">No<br>

      <label for="skillq2">How would you rate your computer skills (on a scale of 1 to 5)</label><br>
      <input class="skillq2" type="radio" name="skillq2" value=1>1<br>
      <input class="skillq2" type="radio" name="skillq2" value=2>2<br>
      <input class="skillq2" type="radio" name="skillq2" value=3>3<br>
      <input class="skillq2" type="radio" name="skillq2" value=4>4<br>
      <input class="skillq2" type="radio" name="skillq2" value=5>5<br>

      <label for="skillq3">How would you rate your coding skills</label><br>
      <input class="skillq3" type="radio" name="skillq3" value="Beginner">Beginner<br>
      <input class="skillq3" type="radio" name="skillq3" value="Basic">Basic<br>
      <input class="skillq3" type="radio" name="skillq3" value="Intermediate">Intermediate<br>
      <input class="skillq3" type="radio" name="skillq3" value="Advanced">Advanced<br>

      <label for="skillq4">Why are you seeking a mentor?
        Which skills do you most want him/her to help you develop?
        What subjects would you like to discuss?</label><br>
      <input class="skillq4" type="checkbox" name="skillq4" value="My coding skills">My coding skills<br>
      <input class="skillq4" type="checkbox" name="skillq4" value="My leadership skills">My leadership skills<br>
      <input class="skillq4" type="checkbox" name="skillq4" value="Topics related to individual development
      (communication, confidence, adaptability, problem-solving, emotional intelligence)">
      Topics related to individual development (communication, confidence, adaptability,
      problem-solving, emotional intelligence)<br>
      <input class="skillq4" type="checkbox" name="skillq4" value="How to succeed in my industry">How to succeed in my industry<br>
      <input class="skillq4" type="checkbox" name="skillq4" value="How to select a career path">How to select a career path<br>
      <input class="skillq4" type="checkbox" name="skillq4" value="My educational path">My educational path<br>
      <input class="skillq4" type="checkbox" name="skillq4" value="Diversity in academic/career development">Diversity in academic/career development<br>
      <!-- Add other section -->

      <!-- Submit Button -->
      <input type="submit" value="submit">

    </form>
  </body>
</html>
