.forgotpassword-button {
  width: 220px;
  height: 43px;
  background-color: #0e67b1;
}

.forgotpassword-button-text {
  width: 333px;
  height: 43px;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3fd7e1;
}

.forgotpassword-container {
  position: fixed;
  right: 8em;
  bottom: 19em;
}
