.login-container {
  /* position: fixed;
  right: 28.5em;
  bottom: 35em; */
}

.login-text {
  width: 165px;
  height: 88px;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
